body{
    font-weight: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.fab{
    font-size: 2rem;
    text-align: center;
}

footer{
    padding-top: 20px;
    border: 2px solid black;
}

.blog-post{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog-post:hover{
    background-color: rgb(249, 249, 249);
}

.blog-image{
    height: 300px;
}